@page
@model WebApplication1.Pages.TouristModel
@{
    ViewData["Title"] = "George Michael";
}



<h2 class="sitename" id="US-MA-FREE"><b>1</b>  Freedom Trail</h2>

<!-- wp:paragraph -->
<p>The three-mile Freedom Trail leads you past - and into - 16 of the city's principal historic monuments and sites. It's easy to follow, by the line of red bricks in the sidewalk and by footprints at street crossings. Begin by picking up brochures on the attractions at the Visitor Center in the <b>Boston Common</b> before heading to the <b>State House</b>. The trail will take you to <b>Old Granary Burying Ground</b> (where Paul Revere, Samuel Adams, and John Hancock are buried), <b>King's Chapel Burying Ground</b> (Boston's oldest cemetery with the graves of Governor John Winthrop and two <i>Mayflower</i> passengers), <b>Old South Meeting House</b> (where the ringing speeches of patriots spawned the Boston Tea Party), and the <b>Old State House</b>. This is Boston's oldest public building and the <b>site of the Boston Massacre</b>. The trail continues through Boston's North End, past the <b>Paul Revere House</b> and <b>Old North Church</b>, and ends across the bridge in <b>Charlestown</b> with the 54-gun <b>frigate USS Constitution</b> and the 220-foot granite <b>Bunker Hill Monument.</b></p>
<!-- /wp:paragraph -->
	<img alt="Freedom Trail" src="https://www.planetware.com/photos-large/USMA/boston-massachusetts-united-states-freedom-trail.jpg">


<h2 class="sitename" id="US-MA-FAN"><b>2</b>  Faneuil Hall</h2>
<!-- wp:paragraph -->
<p>Known as the "cradle of liberty," Faneuil Hall was built in 1740-42 by Huguenot merchant Peter Faneuil as a market hall and presented to the city on condition that it should always be open to the public. The ground floor is still occupied by market stalls; on the upper floor is a council chamber, which in the 18th and 19th centuries was the meeting place of revolutionaries and later, of abolitionists. On its fourth floor is the <b>Ancient and Honorable Artillery Museum</b>, with weaponry, uniforms, and paintings of significant battles.
</p>
<!-- /wp:paragraph -->
	<img alt="Faneuil Hall" src="https://www.planetware.com/photos-large/USMA/boston-massachusetts-united-states-faneuil-hall-2.jpg">

<h2 class="sitename" id="US-MA-FENWAY"><b>3</b>  Fenway Park</h2>
	<img alt="Fenway Park" src="https://www.planetware.com/photos-large/USMA/boston-massachusetts-united-states-fenway-park.jpg">
<!-- wp:paragraph -->
<p>Known as "America's Most Beloved Ballpark", Fenway Park is one of the most fabled sports complexes in the country, and even if you're not a sports fan, a tour of it is both fun and interesting. The <b>home of the Boston Red Sox</b> looks much the same as it did when it opened on April 20, 1912. One of its most recognizable features is the Green Monster, the 37-foot green wall in left field, and the park still maintains some of the remnants of "old time" baseball such as the hand-operated scoreboard. It also has the lowest seating capacity in the Major Leagues holding only 33,871 spectators (a fact that makes tickets exceedingly scarce).</p>
<!-- /wp:paragraph -->



<h2 class="sitename" id="US-MA-COMM"><b>4</b>  Boston Common and Public Garden Swan Boats</h2>
	<img alt="Boston Common and Public Garden Swan Boats" src="https://www.planetware.com/photos-large/USMA/boston-massachusetts-united-states-swan-boats.jpg">
<!-- wp:paragraph -->
<p>In the heart of the city is Boston Common, America's oldest park and the start of the <b>Freedom Trail</b>. In this large green space, which is much used by locals year-round, are various monuments and the Central Burying Ground of 1756. You can rent skates to use on the <b>Frog Pond</b> from November through mid-March, enjoy the spring blossoms and fall foliage colors reflecting in its surface, and in summer, watch youngsters splash about in the wading pool.
</p>
<!-- /wp:paragraph -->

<h2 class="sitename" id="US-MA-BEAC"><b>5</b>  Beacon Hill</h2>
	<img alt="Beacon Hill" src="https://www.planetware.com/photos-large/USMA/boston-massachusetts-united-states-beacon-hill.jpg">
<!-- wp:paragraph -->
<p>One of Boston's most beautiful neighborhoods and right in the center of the city, the south side of Beacon Hill has traditionally been the home of Boston's "old money" families, known locally as "Brahmins." Well-kept brick homes in Federal and Greek Revival styles line its tree-shaded streets, and at its heart is <b>Louisburg Square,</b> where homes face onto a leafy private park. Author Louisa May Alcott lived here from 1880 to 1888. The <b>Nichols House Museum</b>, a Federal-style home by Boston architect Charles Bulfinch, shows how Beacon Hill's upper class residents lived and is filled with collections of 16th- to 19th-century furnishings and decorative arts. At the western foot of Beacon Hill, <b>Charles Street</b> is lined with boutiques and shops that have traditionally catered to the neighborhood and are popular with visitors as well. Beyond Charles Street, facing the Public Garden, <b>The Bull and Finch</b>, established in 1969, inspired the popular television program, <i>Cheers</i>.
</p>
<!-- /wp:paragraph -->


<h1> ... </h1>
<p>
    @Html.Raw(@Model.place)
</p>




